
@import url(/assets/css/style.css);

.blog_data{
  text-align: center;
}

.blog_image{
  width: 288px;
  justify-self: center;
  align-self: center;
  position: relative;
}

@media (min-width: 994px){
  .blog_image{
    width: auto;
  }
}
