/*============ GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*============ VARIABLES ===============*/
:root {
  --header-height: 3.5rem;

  /*====== Colors ======*/
  --hue-color: 240;

  /*====== HSL color mode ======*/
  --first-color: hsl(var(--hue-color), 70%, 60%);
  --fisrt-color-second: hsl(var(--hue-color), 1%, 6%);
  --first-color-alt: hsl(var(--hue-color), 50%, 50%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 100%);
   --title-color-gradient: linear-gradient(to left, #03001e, #9307f1,
   #7109e7 , #1100ff );
   --subtitle-section-gradient: linear-gradient(to left, #ffffff, #00ffdd, #fa0404);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --text-color-lighter: hsl(var(--hue-color), 20%, 70%);
  --text-color-button: hsl(var(--hue-color), 0%, 0%);
  --input-color: hsl(var(--hue-color), 8%, 5%);
  --body-color: hsl(var(--hue-color), 10%, 8%);
  --header-color: hsl(var(--hue-color), 10%, 8%);
  --container-color: hsl(257, 10%, 5%);
  --qualification-bar-color: hsl(var(--hue-color), 92%, 85%);
  --qualification-color: hsl(var(--hue-color), 100%, 50%);
  --scroll-thumb-color: hsl(var(--hue-color), 68%, 50%);
  --scroll-bar-color: hsl(var(--hue-color), 10%, 15%);
  

  /*====== Font alt  ======*/
  --body-font: 'Poppins', sans-serif;

  /*====== font sizes ======*/
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*====== Font weight (peso) ======*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*====== Margens bottom ======*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*====== z index =====*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*================ BASE =========================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1 {
  background-image: var(--title-color-gradient);
  font-weight: var(--font-semi-bold);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: var(--title-color);
}

h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*================ REUSABLE CSS CLASS (REUTILIZAVEL) =========================*/
.section {
  padding: 2.5rem 0 4rem;
  margin-bottom: var(--mb-3);
}

.section_title {
  font-size: var(--h1-font-size);
  background-image: var(--subtitle-section-gradient);
  font-weight: var(--font-semi-bold);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: var(--title-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.score {
  color: var(--first-color);
  font-size: var(--mb-3);
}

.pont {
  color: var(--first-color);
}

.light {
  color: var(--text-color);
}

/*================ LAYOUT =========================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--header-color);
}

/*================ DARK / LIGHT =========================*/
/*===== Variables =======*/
body.sun-theme {
  /*====== HSL color light ======*/
  --first-color: hsl(var(--hue-color), 90%, 32%);
  --fisrt-color-second: hsl(var(--hue-color), 30%, 50%);
  --first-color-alt: hsl(var(--hue-color), 70%, 40%);
  --first-color-lighter: hsl(var(--hue-color), 2%, 5%);
  --title-color: hsl(var(--hue-color), 0%, 0%);
  --title-color-gradient: linear-gradient(to left, #03001e, #9307f1,
   #7109e7 , #1100ff );
   --subtitle-section-gradient: linear-gradient(to left, #fb06c2, #7300ff, #04fa7f);
  --text-color: hsl(var(--hue-color), 2%, 1%);
  --text-color-alt: hsl(var(--hue-color), 90%, 50%);
  --input-color: hsl(var(--hue-color), 65%, 90%);
  --body-color: hsl(var(--hue-color), 98%, 97%);
  --header-color: hsl(var(--hue-color), 98%, 97%);
  --container-color: hsl(var(--hue-color), 8%, 90%);
  --qualification-bar-color: hsl(var(--hue-color), 2%, 70%);
  --qualification-color: hsl(var(--hue-color), 100%, 42%);
  --scroll-bar-color: hsl(var(--hue-color), 98%, 87%);
 
}

/*============== LIGHT BUTTON ===============*/
.nav_btns {
  display: flex;
  align-items: center;
}

/*========== LIGHT MODE ==============*/
.change-theme {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

/*================ NAVIGATION =========================*/
.nav {
  max-width: 768px;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_logo {
  font-size: 1.125rem;
}

.nav_logo:hover{
  color: var(--first-color-alt);
}

.logo_cor {
  color: #0011ff;
}

.logo_cor:hover{
  color: #d000fa;
}

.nav_toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav_toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    opacity: 0.98;
    background-color: var(--header-color);
    padding: 3rem 2.5rem 5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav_list {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_close {
  position: absolute;
  right: 1.3rem;
  top: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--title-color);
}

.nav_close:hover {
  color: var(--first-color-alt);
}

/*======== Show menu =========*/
.show-menu {
  top: 0;
}

/*======== Active Link =========*/
.active-link {
  color: var(--first-color);
}

/*=============== HOME =========================*/
.home_container {
  gap: 1rem;
}

.home_content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #8543ff;
  left: 86%;
  top: 82%;
  animation: cubo 5s linear infinite;
}

.effect-3 {
  position: absolute;
  left: 80%;
  bottom: 55%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: top 5s ease-in-out infinite;
  display: none;
}

.effect-3 div {
  height: 3px;
  width: 3px;
  background-color: #ff0707;
  margin: 0 3px 8px;
}

@keyframes cubo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes top {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(30px);
  }
}

.home_social {
  display: flex;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-left: var(--mb-1);
}

.home_social-icon:hover {
  color: var(--first-color-alt);
}

.home_desktop {
  display: none;
}

.home_content .home_data {
  grid-column: 1/4;
}

.home_title {
  font-size: var(--big-font-size);
}

.home_subtitle {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home_animation {
  animation: cursor 1s steps(40) infinite normal,
    line 5s steps(40) 1s normal both;
  border-right: 3px solid var(--title-color);
  white-space: nowrap;
  overflow: hidden;
}


@keyframes cursor {
  from {
    border-right-color: var(--text-color);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes line {
  from {
    width: 0;
  }
  to {
    width: 13.7em;
  }
}

.home_description {
  margin-bottom: var(--mb-0-75);
}

/*=========== BUTTONS =========*/
.button {
  display: inline-block;
  background-color: #0011ff;
  color: #fff;
  padding: 1rem;
  border-radius: 5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: #080808;
}

.button_main {
  display: inline-block;
  background-color: var(--body-color);
  color: var(--text-color);
  padding: 1rem;

  border: 3px solid;
  border-image: linear-gradient(225deg, #00d9ff 0%, #c001fa 100%) 1;
}

.button_main:hover {
  background: linear-gradient(225deg, #00d9ffe1 0%, #d502face 100%);
  color: var(--text-color-button);
}

.button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--white {
  background-color: var(--first-color-lighter);
  color: var(--body-color);
  margin-bottom: var(--mb-1-5);
}

.button--white:hover {
  background-color: var(--first-color-alt);
}

.button--flex {
  justify-items: center;
  align-items: center;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color);
}

/*=============== ABOUT =========================*/
.about_img {
  width: 200px;
  border-radius: 2px;
  justify-self: center;
  align-self: center;
  position: relative;
  filter: opacity(85%);
  transition: 0.4s;
  border-left: 7px solid #0905ec;
}

.about_img:hover{
  filter: opacity(100%);
  border-left: 7px solid #a705ec;
}

.about_description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about_buttons {
  display: flex;
  justify-content: center;
}

/*=============== SKILLS =========================*/
.skills_container {
  justify-content: center;
  align-items: center;
}

.skills_cursor {
  text-align: center;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
  margin-bottom: var(--mb-2-5);
  color: var(--text-color);
}

.skills_card {
  position: relative;
  width: 17rem;
  height: 25rem;
  margin: var(--mb-0-5);
  border-radius: 25px;
  background-color: var(--container-color);
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.skills_card .card-border::before {
  content: '';
  position: absolute;
  width: 8rem;
  left: 4.5rem;
  top: -50%;
  height: 50rem;
  animation: barra 6s linear 0s infinite normal none running;
}

@keyframes barra {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(350deg);
  }
}

/*==== border card ====*/

.skills_card .html::before {
  background: hsl(16, 98%, 50%);
}

.skills_card .css::before {
  background: hsl(231, 98%, 50%);
}

.skills_card .js::before {
  background: hsl(60, 99%, 50%);
}

.skills_card .ts::before {
  background: hsl(217, 93%, 37%);
}

.skills_card .react::before {
  background: hsl(204, 88%, 52%);
}

.skills_card .git::before {
  background: hsl(0, 87%, 47%);
}

.skills_card::after {
  content: '';
  position: absolute;
  inset: 5px;
  background: var(--container-color);
  border-radius: 20px;
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: hsl(16, 98%, 50%);
  clip-path: circle(100px at right 10px);
  align-items: center;
  z-index: 1;
}

.circle1 {
  background: hsl(231, 98%, 50%);
}

.circle2 {
  background: hsl(60, 99%, 50%);
}

.circle3 {
  background: hsl(0, 87%, 47%);
}

.circle4 {
  background-color: hsl(204, 88%, 52%);
}

.circle5 {
  background-color: hsl(217, 93%, 37%);
}

.card_title {
  color: var(--title-color);
  font-size: var(--h3-font-size);
  text-align: center;
  position: relative;
  bottom: 23.2rem;
  right: 3rem;
  z-index: 1;
}

.card_subtitle {
  color: var(--text-color);
  position: relative;
  text-align: center;
  bottom: 20rem;
  z-index: 1;
}

.card_description {
  position: relative;
  text-align: center;
  bottom: 18rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  z-index: 1;
}

.skills_img {
  position: relative;
  left: 11.8rem;
  top: 0.3rem;
  width: 5rem;
  z-index: 1;
}

.skills_subtitle {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

/*=============== QUALIFICATION =========================*/
.qualification_container {
  row-gap: 0;
}

.qualification_titles {
  margin-bottom: var(--mb-0-75);
  justify-content: space-between;
}

.qualification_description {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-25);
}

.qualification_exp{
  margin-top: var(--mb-0-75);
}

.qualification_exp-a{
  display: flex;
  color: var(--first-color);
  margin: var(--mb-0-25) 0;
  gap: 10px;
}

.qualification_exp-a:hover{
  color: var(--first-color-lighter);
}

.exp-text{
  color: var(--text-color);
}

.qualification_tabs {
  margin-bottom: var(--mb-1);
}

.qualification_button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification_button:hover {
  color: var(--first-color);
}

.qualification_icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification_name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.qualification_calendar {
  font-size: var(--small-font-size);
  color: var(--first-color-lighter);
  margin-bottom: var(--mb-0-25);
}

.qualification_bar,
.qualification_percentage {
  height: 7px;
  border-radius: 0.25rem;
}

.qualification_bar {
  background-color: var(--qualification-bar-color);
  margin-bottom: var(--mb-2);
}

.status {
  float: right;
  font-size: 1.2rem;
}

.qualification_number .pont-red {
  color: #ff0000;
}

.qualification_number .pont-green {
  color: rgb(0, 255, 0);
}

.qualification_percentage {
  display: block;
  background-color: var(--qualification-color);
  margin-bottom: var(--mb-2);
}

.qualification_rocket {
  width: 50%;
}

/*========= MENU LATERAL =============*/
.tab-wrap {
  display: flex;
  margin-top: 2rem;
}

.tab {
  float: left;
  width: 18%;
}

.tab button {
  display: block;
  background-color: inherit;
  color: var(--text-color);
  padding: 13px 20px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  position: relative;
}

.tab button:hover {
  background-color: hsla(235, 87%, 33%, 0.181);
}

.tab button.active {
  position: relative;
  background: hsla(235, 87%, 33%, 0.181);
}

.tab button.active::before {
  content: '';
  position: absolute;
  left: -2px;
  top: 0;
  height: 100%;
  border-left: 3px solid #1900ff;
  z-index: 1;
}

.tab button::after {
  content: '';
  position: absolute;
  left: -2px;
  top: 0;
  height: 100%;
  border-left: 3px solid hsla(172, 84%, 36%, 0.738);
}

.tabcontent {
  float: left;
  padding: 0px 30px;
  width: 70%;
  border-left: none;
}

.tab-list {
  padding-left: 20px;
}

.tab-list li {
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .tab {
    float: left;
    width: 100%;
    margin-bottom: var(--mb-1-5);
  }

  .tabcontent {
    padding: 0;
    width: 100%;
  }

  .tab-wrap {
    flex-direction: column;
  }
}

/*=============== PORTFOLIO =========================*/
.portfolios_container {
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.visibility {
  display: none;
}

.portfolios_content {
  position: relative;
  background-color: var(--container-color);
  transition: 0.3s;
  border: 4px solid var(--container-color);
}

.portfolios_content:hover {
  -o-border-image: linear-gradient(225deg, #0004fa 0%, #bd0bd4 100%) 1;
  border-image: linear-gradient(225deg, #0400ff 0%, #8500aa 100%) 1;
}

.portfolios_icon {
  justify-content: center;
  font-size: 1.5rem;
  color: var(--first-color);
}

.portfolio_img {
  width: 100vw;
  margin-bottom: var(--mb-1);
  border-radius: 2px;
}

.portfolios_title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  font-weight: var(--font-medium);
  text-align: center;
}

.portfolios_button {
  font-size: var(--h3-font-size);
  justify-content: center;
  border: 3px solid;
  border-image: linear-gradient(225deg, #c001fa 0%, #00d9ff 100%) 1;
  padding: 5px;
  color: var(--text-color);
  margin: 0 2.2rem;
  display: flex;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.portfolios_button:hover {
  transition: 0.3s;
  -o-border-image: linear-gradient(225deg, #0004fa 0%, #bd0bd4 100%) 1;
  border-image: linear-gradient(225deg, #0400ff 0%, #8500aa 100%) 1;
  color: #ff0000;
}

.portfolios_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.portfolios_modal-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.portfolios_modal-portfolios {
  row-gap: 1rem;
}

.portfolios_modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.portfolios_modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.portfolio_tech {
  margin-top: var(--mb-0-75);
  margin-bottom: var(--mb-1-5);
}

.portfolio_tech h3{
  margin-bottom: var(--mb-0-25);
}

.portfolio_tech-icon a {
  display: inline-flex;
  gap: 1rem;
  border: 0 solid;
  border-radius: 5px;
  padding: 6px 1rem;
  margin: 5px 3px;  
}

.portfolio_tech-icon a:hover{
  background: var(--first-color);
}

.portfolios_modal-icon {
  color: var(--first-color);
}

@media (min-width: 340px) {
  .portfolio_button {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
}

.github {
  text-align: center;
}

.github_title{
  background-image: var(--title-color-gradient);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: var(--text-color);
}

.github_img {
  width: 300px;
  justify-self: center;
}

.github_img:hover {
  transform: scale(1.1);
}

/*======== ACTIVE MODAL ============*/
.active-modal {
  opacity: 1;
  visibility: visible;
}


/*=============== SERVICES =========================*/
.services {
  gap: 1.5rem;
}

#services {
  display: grid;
}

.service_content article {
  height: auto;
  justify-content: center;
  background-color: var(--container-color);
  padding: 1.5rem 1.2rem 1.2rem;
  border-radius: 3px;
  margin: 10px;
  border: 3px solid var(--container-color);
  cursor: pointer;
}

.service_content article:hover {
  -o-border-image: linear-gradient(225deg, #8306f8 0%, #2b00b9c5 100%) 1;
  border-image: linear-gradient(225deg, #a00dda 0%, #1a018a 100%) 1;
}

.service_img {
  max-width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--mb-2);
}

.service_title {
  text-align: center;
  margin-bottom: var(--mb-1);
}

.service_description {
  text-align: center;
}

/*=============== Certificates =========================*/
.certificate_container {
  overflow: initial;
}

.certificate_content {
  padding: 0 1.5rem;
}

.certificate_img {
  width: 300px;
  border-radius: 0.5rem;
  justify-self: center;
}

.certificate_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.certificate_description {
  margin-bottom: var(--mb-0-75);
}

.certificate_button:hover .button_icon {
  transform: translateX(0.25rem);
}

/*=============== SWIPER =========================*/
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-certificate-icon {
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-button-next {
  right: -0.5rem;
}

.mySwiper .swiper-pagination {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/*=============== CONTACT =========================*/
.contact_container {
  row-gap: 3rem;
}

.contact_information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact_icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.pont_white {
  color: var(--text-color-alt);
}

.pont_white:hover {
  color: var(--first-color-lighter);
}

.contact_title {
  font-size: var(--h3-font-size);
}

.contact_subtitle a {
  color: var(--text-color);
}

.contact_subtitle a:hover {
  color: red;
}

.contact_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.contact_subtitle:hover {
  color: red;
}

.contact_content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact_content:hover{
  border-bottom: 1px solid var(--first-color);
  border-radius: 0.5rem;
}

.contact_label {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.contact_input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.button_envio {
  font-size: medium;
}

.contact_socials h2 {
  margin-bottom: var(--mb-2);
}

.contact_social {
  display: grid;
  grid-template-columns: repeat(3, .1fr);
  gap: 1rem;
  justify-content: center;
  font-size: var(--mb-1-5);
}

.contact_socials li:hover{
   transform: translateY(-8px);
}


/*=============== FOOTER =========================*/
.footer_divider {
  height: 3.2px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue-color), 95%, 85%, 1.8),
    hsla(var(--hue-color), 100%, 45%, 2.55)
  );
}

.footer_copy {
  font-size: var(--h3-font-size);
  text-align: center;
  margin: 1rem 0;
}

.footer_copy {
  color: var(--text-color);
}

/*========= SCROLL UP =========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.9;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scroll_icon {
  font-size: 1.7rem;
  color: #fff;
}

/*========= SHOW SCROLL =========*/
.show-scroll {
  bottom: 3rem;
}

/*========= SCROLL BAR =========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.7rem;
}


/*=============== MEDIA QUERIES =========================*/
@media (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav_list {
    column-gap: 0;
  }

  .home_title {
    font-size: var(--h1-font-size);
  }

  .portfolios_modal-content {
    padding: 1rem;
    height: 100vh;
  }

  .contact_social{
    display: grid;
    grid-template-columns: repeat(3, .2fr);
  }
}

@media (min-width: 568px) {
  .nav_list {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1-5);
  }

  .home_data {
    transform: translateX(1rem);
  }

  .home_subtitle {
    font-size: var(--mb-1-5);
  }

  .home_social {
    order: 0;
    transform: translateX(1rem);
    margin-bottom: var(--mb-1);
  }

  .home_social-icon {
    font-size: var(--mb-1-5);
  }

  .effect-3 {
    display: flex;
  }

  .about_container,
  .skills_container,
  .portfolios_container {
    grid-template-columns: repeat(2, 1fr);
  }

  #services {
    grid-template-columns: repeat(2, 1fr);
  }

  .div_contact {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .contact_social {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
}

@media (min-width: 768px) {
   nav ul li::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--first-color);
    margin-top: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  nav ul li:hover::after {
    transform: scaleX(1);
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .header,
  .main{
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }

  .nav_close,
  .nav_toggle {
    display: none;
  }

  .nav_item a{
    font-size: var(--normal-font-size);
  }

  .change-theme {
    margin-right: 0.8rem;
    font-size: 1.4rem;
  }

  .nav_list {
    display: flex;
    column-gap: 1.8rem;
  }

  .nav_menu {
    margin-left: auto;
  }

  .home_container {
    row-gap: 5rem;
  }

  .home_content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home_social {
    display: grid;
  }

  .home_data {
    transform: translateX(4.6rem);
    margin-top: -12rem;
  }

  .effect-3 {
    display: flex;
  }

  .about_container {
    gap: 5rem;
  }

  .about_img {
    width: 300px;
  }

  .about_description {
    text-align: initial;
  }

  .about_buttons {
    justify-content: initial;
  }

  .skills_container {
    transform: translateX(2rem);
  }

  .portfolios_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolios_icon {
    font-size: 2rem;
  }

  .visibility {
    display: block;
  }

  #services {
    grid-template-columns: repeat(3, 1fr);
  }

  .certificate_img {
    width: 320px;
  }

  .certificate_content {
    align-items: center;
    justify-items: center;
  }

  .div_contact {
    display: flex;
    gap: 5rem;
  }

}

@media (min-width: 994px) {
  .header,
  .main {
    margin: 0;
  }

  .nav_item a {
    font-size: var(--normal-font-size);
  }
  
  .change-theme {
    margin-right: 0.8rem;
    font-size: 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.6rem);
    column-gap: 4rem;
  }

  .nav_list {
    column-gap: 2rem;
  }

  .nav_logo {
    font-size: var(--h3-font-size);
    display: flex;
  }

  .home_content {
    position: relative;
  }

  .home_desktop,
  .home_data {
    grid-column: 1/2;
  }

  .home_desktop {
    display: inline;
    order: 0;
  }

  .home_people {
    position: relative;
    left: 31rem;
    width: 350px;
  }

  .home_data {
    position: absolute;
    right: 24rem;
    top: 15rem;
    width: 30rem;
  }

  .home_social {
    position: absolute;
    left: -7rem;
    top: 8rem;
  }

  .effect-1 {
    top: -1%;
    left: -10%;
  }

  .effect-3 {
    left: -13%;
    bottom: 15%;
  }

  .icon-one {
    position: absolute;
    top: -1rem;
    width: 4rem;
    right: 1rem;
  }

  .icon-two {
    position: absolute;
    top: -3rem;
    left: 1rem;
    width: 4rem;
  }

  .icon-three {
    position: absolute;
    top: 13rem;
    left: -5rem;
    width: 4rem;
  }

  .home_icon .icon-one {
    -webkit-animation: icon-move 4s ease 1.8s infinite alternate;
    animation: icon-move 4s ease 1.8s infinite alternate;
  }

  .home_icon .icon-two {
    -webkit-animation: icon-move 3s ease 1.9s infinite alternate;
    animation: icon-move 3s ease 1.9s infinite alternate;
  }

  .home_icon .icon-three {
    -webkit-animation: icon-move 3s ease 0.6s infinite alternate;
    animation: icon-move 2s ease 0.6s infinite alternate;
  }

  @-webkit-keyframes icon-move {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(10px, -40px, 0);
      transform: translate3d(10px, -40px, 0);
    }
  }

  @keyframes icon-move {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(20px, -50px, 0);
      transform: translate3d(20px, -50px, 0);
    }
  }

  .skills_container {
    transform: translateX(-2rem);
    grid-template-columns: repeat(3, 1fr);
  }

  .skills_card {
    width: 16rem;
  }

  .skills_img {
    left: 11rem;
  }

  .portfolios_container {
    grid-template-columns: repeat(3, 255px);
    justify-content: center;
  }

  .certificate_content {
    column-gap: 5rem;
  }

  .swiper-certificate-icon {
    font-size: 3.5rem;
  }

  .swiper-button-prev {
    left: -3.5rem;
  }

  .swiper-button-next {
    right: -3.5rem;
  }

  .certificate_container .swiper-pagination-bullet-active {
    bottom: -4.5rem;
  }
 
}

@media (min-width: 1200px) {
  .nav {
    column-gap: 6rem;
  }

  .nav_item a {
    font-size: var(--h3-font-size);
  }

  .home_people {
    position: relative;
    left: 28rem;
    width: 500px;
  }

  .home_data {
    position: absolute;
    right: 30rem;
    top: 15rem;
    width: 30rem;
  }

  .home_social {
    position: absolute;
    left: -14rem;
    top: 8rem;
  }

  .effect-1 {
    top: -1%;
    left: -25%;
  }

  .effect-3 {
    left: -25%;
    bottom: 10%;
  }

  .icon-one {
    position: absolute;
    top: -1rem;
    width: 4rem;
    right: 1rem;
  }

  .icon-two {
    position: absolute;
    top: -3rem;
    left: 1rem;
    width: 4rem;
  }

  .icon-three {
    position: absolute;
    top: 13rem;
    left: -5rem;
    width: 4rem;
  }

  .portfolios_container {
    grid-template-columns: repeat(3, 255px);
    gap: 5.5rem;
    justify-content: center;
  }

  .portfolios_content {
    width: 20rem;
  }

  #services {
    grid-template-columns: repeat(3, 260px);
    justify-content: center;
  }

}
